
html {
    position: relative;
    min-height: 100%;
}

header {
    text-align: center;
    padding: 0px 10px 0px 10px;
}

header h1 {
    color: black;
    font-size: xx-large;
}

body {
    padding: 20px 0px 0px 0px;
    color: white;
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #E2F0D6; /*a3f5eb*/
    font-family: sans-serif;
    font-size: 2.0em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 8px;
    font-size: smaller;
    background-color: #E2F0D6;
}

/*======================================*/
h1, h2, h3, h4, h5, h6 {
    font-size: x-large;
    color: #3BBDBD;
}

.links-box {
    margin: 40px 1px 40px 0;
    padding: 8px 40px 10px 40px;
    /*background-color: #a3f5eb;*/
    border-radius: 40px;
    border: double;
    border-color: #3BBDBD;
}

.links-box h3 {
    text-decoration: underline;
}

.project-link {
    border-color: black;
    color: white;
}

.li_link {
    list-style-image: url(../images/icons/linkb.png);
}

#li_link_github {
    list-style-image: url(../images/icons/github.png);
}

#li_link_linkedin {
    list-style-image: url(../images/icons/linkedin.png);
}

#li_link_playstore {
    list-style-image: url(../images/icons/Google_Play.png);
}

#li_link_itchio {
    list-style-image: url(../images/icons/itchio.png);
}


.li_link a {
    font-size: large;
    color: #173D48;
}

.li_link a:hover {
    color: #3BBDBD;
}

/*======================================*/
